body{
    font: 15px  'Trebuchet MS', Helvetica, sans-serif;
    background: #0ca3d2;
    font-style:oblique;
}

/*encabezado*/     
header{
    color:black;
    margin:5px auto;
    text-align:center;
}


/*menu*/


nav ul{
    display:block;
    width:900px;
    height:60px;
    list-style:none;
    margin:0px auto;
    text-align:center;
 
}
nav li{
    float:left;
}

nav li a{
    text-decoration:none;
    color:white;
    font-style:oblique;
    padding:15px 0px;
    display:block;
    background:black;
    width:120px;
    margin: 0px 10px;
    text-align:center;
}

nav li a:hover{
    color: black;
    background:black;
}
nav li ul{
    display:none;
    position:absolute;
    width:160px;
    padding: 10px;
}

nav li:hover ul{
    display:block; 
}
nav li li a{
    background:black;
    width:160px;
    padding:15px 0px;
}
nav li a:hover{
    background:#fbe282;
}
   

/*contenedor*/
#contenedor{
    background:white;
    margin:20px auto;
    width:970px;
    border-radius:15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#contenedor1{
    background:white;
    margin:20px auto;
    width:970px;
    border-radius:15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}


/*barra lateral*/
aside{
    float:right;
    width:180px;
}

/*seccion con el contenido*/
section{
    width:770px;
    padding:5px 10px;
}


/*pie de pagina*/
footer{
    margin:0 auto;
    text-align:center;
    color:white;
}



/*********************TABLA************************/
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#aaaaff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #191919 5%, #191919 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #191919), color-stop(1, #191919) );
	background:-moz-linear-gradient( center top, #191919 5%, #191919 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919", endColorstr="#191919");	background: -o-linear-gradient(top,#191919,191919);

	background-color:#191919;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #191919 5%, #191919 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #191919), color-stop(1, #191919) );
	background:-moz-linear-gradient( center top, #191919 5%, #191919 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919", endColorstr="#191919");	background: -o-linear-gradient(top,#191919,191919);

	background-color:#191919;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}